/* Template specific */

/*
 - The base layer is for things like reset rules or default styles applied to plain HTML elements.
 - The components layer is for class-based styles that you want to be able to override with utilities.
 - The utilities layer is for small, single-purpose classes that should always take precedence over any other styles.
*/

@layer utilities {
    .wrapper {
        @apply
            container
            max-w-7xl
            mx-auto
            p-2;
    }

    .body {
        font-family: 'Sofia Sans', sans-serif;

        @apply
            bg-brand-grey
            text-white;
    }

    a,
    a > * {
        @apply
            cursor-pointer
            transition
            duration-300
            ease-in-out;
    }

    .gradient-overlay {
        @apply
            absolute
            inset-0
            w-full
            rounded-none
            bg-gradient-to-b
            from-transparent
            to-black
            opacity-50
            lg:rounded-br-6xl;
    }

    .header {
        @apply bg-black;

        .top {
            @apply
                w-full
                border-b
                border-b-brand-red;

            .top-container {
                @apply
                    wrapper
                    flex
                    flex-col
                    items-center
                    md:flex-row
                    md:justify-between
                    ;

                li {
                    @apply hover:text-brand-red;

                    &.menu-item-153 {
                        @apply
                            py-2
                            px-4
                            flex
                            gap-2
                            bg-brand-button
                            text-sm
                            font-bold
                            uppercase
                            cursor-pointer
                            transition
                            duration-300
                            ease-in-out
                            hover:text-white
                            hover:bg-brand-red;
                    }
                }

                .top-tags {
                    @apply flex items-center;
                }
            }
        }

        .main-nav {
            @apply 
                wrapper
                flex
                justify-between;

            ul {
                @apply 
                    flex
                    items-center;

                li {
                    @apply 
                        text-xl
                        font-bold
                        w-max
                        hover:text-brand-red;

                    span {
                        @apply
                            block
                            text-sm
                            leading-4
                            text-brand-red;
                    }
                }
            }

            .sidebar {
                @apply
                    flex
                    flex-col
                    items-start
                    gap-1;

                .top-title {
                    @apply 
                        text-xs
                        font-bold 
                        uppercase 
                        text-brand-red;
                }

                .sidebar-item {
                    @apply
                        flex 
                        flex-col
                        gap-1;

                    .item-title {
                        @apply
                            text-lg
                            font-bold
                            cursor-pointer
                            transition
                            duration-300
                            ease-in-out
                            hover:text-brand-red;
                    }

                    .item-sub-title {
                        @apply
                            text-xs
                            italic
                            text-brand-lightgrey;
                    }
                }
            }
        }
    }

    .featured-posts {
        @apply relative bg-pattern;

        .gradient {
            @apply 
                absolute
                inset-0
                bg-gradient-to-b
                from-black/60
                to-transparent;
        }
    }

    .featured-posts-container {
        @apply wrapper;

        .title-container {
            @apply
                mb-12
                p-8
                bg-brand-red
                rounded-br-4xl
                lg:absolute
                lg:right-0
                lg:top-5
                lg:w-1/3;

            h2 {
                @apply
                    mt-5
                    text-6xl
                    hover:text-black
                    lg:text-5xl;
            }
        }
    }

    .posts-3 {
        @apply
            grid
            grid-cols-1
            lg:grid-cols-3
            gap-4
            mb-4;
    }

    .posts-4 {
        @apply
            grid
            grid-cols-2
            lg:grid-cols-4
            gap-4
            mb-4;
    }

    .post {
        @apply
            bg-black
            rounded-br-lg;
    }
}
