@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200,1,200');

@import 'ninja-form.css';

@tailwind base;

@layer base {
    body {
        @apply bg-brand-grey
            font-body 
            text-white;
    }

    a,
    .link-transition {
        @apply cursor-pointer
            transition
            duration-300
            ease-in-out;
    }

    h2 {
        @apply text-4xl/9 font-bold;
    }

    h3 {
        @apply text-3xl/8 font-bold;
    }

    h4 {
        @apply text-2xl/7 font-bold;
    }

    h5 {
        @apply text-xl/6 font-bold;
    }

    h6 {
        @apply text-lg/5 font-bold;
    }

    /* Autocomplete background fix */
    input:-webkit-autofill {
        -webkit-text-fill-color: white;
        -webkit-background-clip: text;
    }
}

@tailwind components;

@layer components {
    .overlay {
        @apply absolute inset-0;
    }

    .wrapper {
        @apply mx-auto max-w-screen-2xl px-[4%];
    }
}

@tailwind utilities;

@layer utilities {
    .title {
        @apply border-l-10 border-brand-red p-4 uppercase;
    }

    .button {
        @apply link-transition
        flex
        cursor-pointer
        items-center
        gap-2
        bg-brand-button
        px-4
        py-1.5
        text-sm
        font-bold
        uppercase
        hover:bg-brand-red
        hover:text-white;
    }

    /* .button-icon-heart {
        @apply whitespace-nowrap
        pl-3
        before:ml-0.5
        before:text-brand-red
        before:transition
        before:duration-300
        before:content-['\2665']
        before:hover:text-white;
    } */

    /* Post page specifict styles */
    .post-content {
        /* @apply grid gap-8; */
    }

    .post-content h2,
    .post-content h3,
    .post-content h4 {
        @apply mb-4 mt-8;
    }

    .post-content iframe,
    .post-content .wp-block-table,
    .post-content .wp-block-gallery,
    .post-content .wp-block-image {
        @apply mb-8;
    }

    .glightbox {
        @apply relative block cursor-pointer overflow-hidden;
    }

    .glightbox img {
        @apply transition-all duration-300 ease-in-out hover:scale-105 hover:brightness-110;
    }

    /* Black background with padding and borrom right roundiing  eg. for text-blocks   */
    .post-content .bg-text-block {
        @apply mb-8 rounded-br-4xl bg-black p-8;
    }

    /* Transparent image, e.g. chart  */
    .post-content .bg-image {
        @apply rounded-br-4xl bg-gray-200 pb-8;
    }

    /* YouTube video  */
    .post-content iframe {
        @apply aspect-video h-auto w-full;
    }

    /* Pagination */
    .nav-links {
        @apply flex items-center items-center justify-center gap-2;
    }

    .nav-links .current div {
        @apply bg-brand-red;
    }

    /* Topography */
    .post-content p,
    .post-content ol,
    .post-content ul {
        @apply mb-4 text-[1.0625rem];
    }

    .post-content ol {
        @apply ml-6 list-outside list-decimal;
    }

    .post-content ul {
        @apply ml-6 list-outside list-disc;
    }

    .post-content a {
        @apply text-brand-red hover:underline;
    }

    .post-content table {
        @apply w-full border-collapse bg-brand-darkgrey;
    }

    .post-content td {
        @apply border-t border-brand-button p-4;
    }

    .post-content tr > td:first-child {
        @apply bg-brand-solidgrey;
    }

    .post-content tr:first-of-type td {
        @apply bg-brand-red;
    }
}
